<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AJLogger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AJLoggerFMK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AJLoggerFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AJLoggerStatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>305EC0FC1D66DE5B0070C600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>305EC1231D66EAC00070C600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>305EC1281D66F8A60070C600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C33D621D5B335E00A38B49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
